*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
}


.wrapper{
    transition: 5s;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}
.wrapper section{
    scroll-snap-align: start;
}
/*-----------------------HEADER------------------------------------------------------------------------------------------*/
.header{
    position: relative;
    width: 100%;
    top:0;
    left: 0;
    z-index: 50;
}

._container{
    width: 100%;
    height: 100vh;
    box-sizing: content-box;
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    z-index: 2;
}

.logo{
    width: 100%;
    max-width: 102px;
    max-height: 23px;
}

.header_logo{
    width: 100%;
    margin: 0px auto;
}

._ibj{

    position: relative;

}

._ibj img{
    position: absolute;
    width: 100%;
    height: 100vh;

    top: 0;
    left: 0;
    object-fit: cover;
}
.logo.header_logo img {
    margin-top: 47px;
}

.backImage{
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    top: 0;
    left: 0;

}

.inscription_center {
    width: 100%;
    text-align: center;
    margin-top: 40vh;
}
.inscription_center p:nth-child(1){
    font-size: 70px;
    color: #FFFFFF;
    font-family: 'Bebas Neue', bold;
    line-height: 60px;
    letter-spacing: 6px;
}
.inscription_center p:nth-child(2){
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 19px;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}

.inscription_center p:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 90vh auto;
    /* margin-top: 90vh; */
    text-align: center;
    font-family: 'OpenSans';
    font-size: 11px;
    line-height: 13px;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 4px;
    color: #FFFFFF;
}

/*-----------------HEADER----------------------------*/
/*-----------------MENU--------------------------------------*/
.header_menu{
   width: 100%;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.menu_logo{

}
.menu{
    margin: auto;
    width: 100%;
    height: 100%;
    max-height: 65px ;
    max-width: 940px;
    padding: 24px 20px 23px 20px;

}
.container_menu{
    display: flex;
}

.menu_list{
    display:flex;
}
.top_menu{
    margin-left: auto;
}

.menu_item{
    margin-left: auto;
    list-style-type: none;
    padding-left: 30px;

}
.menu_item a{
    text-decoration: none;
    color: #48555B;
}


/*-----------------MENU--------------------------------------*/

/*-----------------MAIN-------------------------------*/


.page{

    flex: 1 1 auto;
}

.page_story{
    padding-top: 20px;
    width: 100%;
    height: 100vh;
    margin-top: 30px;

}

.story_container{
    display: flex;
    max-width:941px ;
    margin: auto;
}

.story_title{
    max-height: 25px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'OpenSans';
    font-size: 18px;
    line-height: 21px;
    color: #48555B;
}
.line{
    width:100% ;
    max-width: 50px;
    border: 2px solid #00A4E5;
}
.line_position{
    margin: auto;

}

.biography{
    margin: 70px 20px 0px 20px;
}

.images_biography{
    display: flex;
    margin: 70px 0px 0px 0px;
    width: 100%;
    justify-content: space-around;
}
.biography_item {
    transition: all 2s;
    width: 100%;
    text-align: center;
    max-width: 150px;
    height: 300px;
    background: #00A4E5;
    padding: 10px;
}
.biography_item .biography_text{
    transition: all 2s;
}


.images_biography .biography_item:not(:last-child){

}

.main_text{
    max-width: 400px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #48555B;
    padding-bottom: 30px;
    letter-spacing: 2px;
    align-items: flex-end;
}

.text_biography{
    max-width: 405px;
    font-family: 'OpenSans';
    font-size: 13px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 2px;

    color: #48555B;

}
.biography_text{
    transition: all 2s;
    display: none;
    position: relative;
}
.biography_item:hover .biography_text{
   background: rgba(0, 60, 255, 0.13);
   padding: 10px;
    display: block;
    transition: all 2s;
    animation-name: test;
    animation-duration: 2s;

}

@keyframes test {
    0%{
        background: rgba(0, 60, 255, 0.13);
        transform: scale(0);
        opacity: 0;
    }
    50%{
        transform: scale(2, 0.5);
        /*opacity: 0.3;*/
        filter: blur(10);
        background: rgba(0, 164, 229, 0.27);
    }
    100%{
        background: rgba(0, 60, 255, 0.13);
        transform:  scale(1);
    }
}
.biography_item:hover  p{
    color: #141A20;
    opacity: 1;
}
/*services*/
.page_services{
    width: 100%;
    height: 100%;
}
.services{
    max-width: 940px;
    margin: auto;
}

.line_position_capabilities{
    position: relative;
}

.capabilities{
    padding-top: 20px;
    display: flex;
    margin: 70px 20px 0px 20px;
    justify-content: space-between;
}
.capabilities_title{
    font-family: 'OpenSans';
    font-size: 18px;
    line-height: 21px;
    align-items: flex-end;
    letter-spacing: 3px;
    color: #48555B;
}

.capabilities_text{
    width: 100%;
    height: 100%;
    max-width: 405px;
    font-family: 'OpenSans';
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 1px;
    color: #48555B;
}

.button{
    max-width: 150px;
    max-height: 40px;
    background: #00A4E5;
    padding: 11px;

    font-family: 'OpenSans';
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;

}




.all_services_button{
    width: 100%;
    height: 100%;

    margin-left: auto;
}

/*services*/
.main_services{
    display: flex;
    margin: 70px 20px 0px 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.service:not(:last-child){
    margin-bottom: 18px;
}

.service{
    width: 100%;
    height: 100%;
    max-width: 285px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    padding: 20px;
}
.project_title{
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.426667px;
    color: #48555B;
    padding: 25px 0px 13px 0px;
}

.description_project{
    font-family: 'OpenSans';

    line-height: 23px;
    align-items: center;
    letter-spacing: 0.1875px;

    color: #48555B;
}

.page__get_in_touch{
    margin-top: 115px;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 499px;

}
.title__get_in_touch{
    font-family: 'OpenSans';
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    color: #48555B;
    padding:120px 0px 35px 0px;
}

.get_in_touch{
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    padding-bottom: 231px;
}

._img img{
    position: absolute;
    width: 100%;
    height: 100%;
     max-height: 498.24px;
    object-fit: cover;
    top: 0px;
    left: 0;
    z-index: -1;
}

/*newsletters*/
.page_newsletters{
    width: 100%;
    height: 100%;
    /*max-width: 1440px;*/
    max-height: 100px;
    background-color: #171819;
}
.newsletters{
    display: flex;
    padding: 35px 0px 35px 377px;
}
.title_newsletters{
    align-items: flex-end;
    letter-spacing: 0.846154px;

    color: #FFFFFF;
    font-family: 'OpenSans';
    font-size: 22px;
    line-height: 26px;
    padding-right: 70px;
}
.block_input{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 391px;

}

.input_newsletters{
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 40px;
    padding-left: 16px;
}

.block_input button{
    width: 100%;

}


/*-----------------MAIN-------------------------------*/

/*----------------FOOTER---------------------------*/
.footer{
    width: 100%;
    height: 100%;
    background: #141A20;
    padding-top: 42px;


}
.footer_block{
    width: 100%;
    height: 100%;
    max-width: 941px;
    margin: auto;
}

.footer_container{
    display: flex;
}

.company{

}
.title_company{
    padding-bottom: 19px;
    font-family: 'OpenSans';
    line-height: 13px;
    align-items: flex-end;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}
.text_company{
    padding-top: 15px;
    width: 100%;
    max-width: 250px;
    font-family: 'OpenSans';
    line-height: 19px;
    align-items: center;
    letter-spacing: 0.85px;
    color: #FFFFFF;
}

.links{
    display: flex;
}

._list{
    font-family: 'OpenSans';
    line-height: 25px;
    align-items: center;
    letter-spacing: 1px;
    color:#FFFFFF;
}

.links ul:not(:last-child){
    padding-right: 38px;
}

.info{

}

.contact{
    margin-left: 58px;
    width: 100%;
    max-width: 128px;
    font-family: 'OpenSans';
    line-height: 16px;
    align-items: center;
    letter-spacing: 1px;

    color: #FFFFFF;
}

.contact p:not(:last-child){
    padding-bottom: 15px;

}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}

.socials{
    display: flex;
    width: 100%;
    max-width: 200px;
    margin:30px 0px 0px 46px;
}
.socials a{
    width: 0px;
    height: 200px;
}
.copyright{
    width: 100%;
    text-align: center;
    align-items: flex-end;
    letter-spacing: 1px;
    padding: 61px 0px 23px 0px;
    color: #FFFFFF;
}
.copyright a{
    color: #FFFFFF;
}
/*--------------FOOTER-----------------------------*/

/*----------------mobile----------------------------*/
.mobile_menu{
    width:10px;
    height: 10px;
    background: #00A4E5;
    display: none;
}
.menu_list .icon {
    display: none;
}
a.active {
    background-color: #04AA6D;
    color: white;
}
.all_services {display: flex;}

h2:after{
    content: "";
    display: block;
    width: 67px;
    height: 3px;
    margin: 0 auto;
    background: #00A4E5;
    box-shadow: 0px 2px 9px 0px #48555b;
    transition: all 5s;
}

h2:hover::after{
    content: "";
    width: 200px;
}
@media(max-width: 800px){
    .story_container{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .text_biography{
        max-width: 90vw;
    }
    .mobile_menu{
       display: block;
    }
    .menu_list a.icon {
        float: right;
        display: block;
    }

    .menu_list .responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .menu_list a {display: none;}
    .menu_list{
        transition: all 0.5s;
    }

    .menu_list .responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .responsive li a{
        display: block;
    }
    .responsive {
        transition: all 1s;
        transform: translate(0px, 40px);
        margin: 0 auto;
        width: 100%;
        display: flex;
        position: relative;
        /* top: 20px; */
        flex-direction: column;
    }

    .responsive a {
        margin: 0 auto;
        width: 100%;
        display: flex;
        /* text-align: center; */
    }

    .top_menu {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .capabilities {
        padding-top: 20px;
        display: flex;
        margin: 100px 20px 0px 20px;
        justify-content: space-between;
        flex-direction: column;
    }
    .all_services {
        margin: 25px 0px;
        display: flex;
        flex-direction: column;
    }
    .all_services_button {
        width: 100%;
        height: 100%;
        /* margin-left: auto; */
        margin: 10px auto;

    }
    .capabilities h2{
        text-align: center;
    }
    p{
        font-size: 14px;
    }
    .images_biography{
        margin: 20px 0px 0px 0px;
    }
}

/*///////////load///////*/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: #e0e0e0;
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}
/*////////////////////////load*/